@font-face {
    font-family: 'SFProDisplay-BlackItalic';
    src: url('../fonts/sfProDisplay/SFProDisplay-BlackItalic.ttf') format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden; /* ページ全体のスクロールを無効にする */
    
}

.canvas-style {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    height: 100%;
    
}
.toshesImage {
    width: 31.6%;
    height: auto;
}

.main {
    padding-top: 0!important;
    display: flex; /* 子要素を横並びに */
    justify-content: space-between; /* 子要素をスペースで均等配置 */
    height: 100vh; /* ビューポートの高さを指定 */
    padding: 20px; /* 周りに余白を追加 */
    gap: 10px;
  }
  
  /* キャラクター選択 */
  .characterSelect {
    
  }
  
  .selectImage {
    width: 18vw;
    height: auto;
    margin-left: 3vw;
  }
  
  /* 中央コンテナ */
  .centerContainer {

    flex-direction: column; /* 縦に並べる */
    gap: 20px; /* 要素間に余白を追加 */

  }
  
  /* キャラクターが話すゾーン */
  .characterTalk {
    background-color: #14363E;
    width: 100px;
    height: 100px;
    border-radius: 10%;
  }
  
  /* Todoを増やすよー */
  .addTodo {
    background-color: white;
    height: 150px;
    width: 39vw;
    border-radius: 90px;
  }
  
  /* TodoList */
  .todoList {
    
    background-color: white;
    height: 90vh; /* 適切な高さを指定 */
    width: 34.4vw;
    border-radius: 5%;
    padding: 20px; /* 内側に余白を追加 */
    box-shadow: 2px -2px 60px rgba(0, 0, 0, 0.16);
    margin-right: 1vw;
  }
  