@font-face {
  font-family: 'SFProDisplay-BlackItalic';
  src: url('../fonts/sfProDisplay/SFProDisplay-BlackItalic.ttf') format("opentype");
}

@font-face {
  font-family: 'SFProDisplay-SemiboldItalic';
  src: url('../fonts/sfProDisplay/SFProDisplay-SemiboldItalic.ttf') format("opentype");
}
@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('../fonts/sfProDisplay/SFProDisplay-Bold.ttf') format("opentype");
}



html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.canvas-style {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  height: 100%;
}

.toshesImage {
  width: 31.6%;
  height: auto;
}

.main {
  width: 100%; /* 全画面の幅 */
  height: 100%; /* 全画面の高さ */
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* キャラクター選択 */

.selectImage {
  width: 18vw;
  height: auto;
  margin-left: 3vw;
}
.noSelectImage {
  width: 13vw;
  height: auto;
  margin-left: 1.6vw;
  margin-top: 4vh;
}

/* 中央コンテナ */
.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* キャラクターが話すゾーン */
.characterTalk {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin-top: 30vh;
  background-color: #ffffff;
  width: 18vw;
  height: 19vh;
  border-radius: 10%;
  box-shadow: 2px -2px 60px rgba(0, 0, 0, 0.16);
  padding: 20px;
}
.characterNameContainer {
  display: flex;
  align-items: center;
  
}
.border {
  width: 5px;
  height: 3vh;
  background-color: #00FEDA;
}
.characterName {
  margin-left: 0.2vw;
  margin-bottom: 0.1vw;
  font-style: normal;
  font-size: 3vh;
  color: #14363E;
  line-height: 0; /* 行間をなくす */
}
.Talk {
  margin-top: 1vh;
  font-size: 2vh;
  color: #14363E;
}
/* Todoを増やすよー */
.addTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 18vh;
  width: 39vw;
  border-radius: 90px;
  margin-bottom: 75px;
}

/* Todoを増やすボタン */
.addTodoButton {
  font-family: 'SFProDisplay-SemiboldItalic', sans-serif;
  padding: 20px 30px;
  font-size: 35px;
  cursor: pointer;
  appearance: none;
  border: 0;
  border-radius: 10%;
  background: #14363E;
  color: #fff;
  
}

/* TodoList */
.todoList {
  background-color: white;
  height: 90vh;
  width: 34.4vw;
  border-radius: 5%;
  box-shadow: 2px -2px 60px rgba(0, 0, 0, 0.16);
  margin-right: 1vw;
}
.todoListImage {
  width: 19vw;
  height: auto;

}
.todoListInner {
  margin: 30px;
}
.todoText {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 3vh;
  color: #14363E;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の灰色 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* 他の要素の上に表示されるようにする */
}

/* テキストフィールドを中央に表示する */
.input-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* 横並びにするボタンコンテナ */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* ボタン間のスペース */
  margin-top: 10px;
}

.custom-input {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}